<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property scope="system" name="APP_NAME" value="webwar" />
	<property scope="system" name="SYSTEM_NAME" value="linayi" />
	<property scope="system" name="APP_VERSION" value="0.0.1-SNAPSHOT" />
	<property scope="system" name="APP_ENV" value="development" />

	<property scope="system" name="LOG_DIR" value="/data/logs" />

	<appender name="ROOT_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${SYSTEM_NAME}/${APP_NAME}/system.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${SYSTEM_NAME}/${APP_NAME}/system.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5000MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%X{requestId}]) %-5level - %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${SYSTEM_NAME}/${APP_NAME}/logstash.json</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${SYSTEM_NAME}/${APP_NAME}/logstash.%d{yyyy-MM-dd}.%i.json
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5000MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoding>UTF-8</encoding>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>
	<appender name="ROOT_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="linayi_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${SYSTEM_NAME}/${APP_NAME}/linayi.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${SYSTEM_NAME}/${APP_NAME}/linayi.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5000MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%X{requestId}]) %-5level -
				%logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 出错日志 appender  -->  
    <appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_DIR}/${SYSTEM_NAME}/${APP_NAME}/linayi.%d{yyyy-MM-dd}.%i.error</fileNamePattern>
            <!-- 日志最大的历史 60天 -->  
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5000MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>  
        <encoder>
			<pattern>%-20(%d{yyy-MM-dd HH:mm:ss.SSS} [%X{requestId}]) %-5level -
				%logger{80} - %msg%n</pattern>
		</encoder> 
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->  
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>  
    </appender>
	<logger name="com.chanxa.linayi" level="DEBUG">
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>
	
	<logger name="org.mybatis.spring" level="ERROR" >
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>
	<logger name="com.mchange.v2" level="ERROR" >
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>
	<logger name="cn.uncode.dal.datasource.DynamicDataSource" level="ERROR" >
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>
	<logger name="org.apache" level="ERROR" >
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>
	
	<logger name="org.springframework" level="ERROR" >
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>	
	<logger name="o.quartz.core" level="ERROR" >
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>	
	<logger name="org.quartz.core" level="ERROR" >
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="linayi_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
	</logger>	
	<root level="DEBUG">
		<appender-ref ref="ROOT_STDOUT" />
		<appender-ref ref="ROOT_APPENDER" />
		<appender-ref ref="LOGSTASH" />
		<appender-ref ref="ERROR_APPENDER" />
	</root>
</configuration>